<!DOCTYPE html>
<html>
 <head>

    <title>Тестовое здание - T.Plevako</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>
<div>
    {% if error %}
        Error!
    {% endif %}
</div>
<form id="img-form" enctype="multipart/form-data" method="post" action="get_colors">

    <h1> Выберите картинку  </h1>

    <h1>
        <input id="dow-pict" type="file" name="photo" multiple accept="image/*,image/jpeg" required>

        <h1> Введите hex цвет искомого пикселя  </h1>
        
        <input id="hex-field" name="hex" type="text" required>    
        <p>
            <input id="submit-btn" type="submit" value="Отправить">
        </p>
    </h1>
</form>

</body>

</html>